body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-header{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.header-logo{
    height: 40px;
    cursor: pointer;
}

.form-section{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    flex: 1;
    height: fit-content;
    max-width: 400px;
    width: 100%;
}

.input-group{
    margin-top: 40px;
}

.input-group label{
    display: block;
    color: #333;
    font-size: 14px;
}

.input-group input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: solid black;
    transition: all 0.3s ease;
}

.input-group input:focus{
    outline: none;
    border-bottom: solid rgb(245, 130, 30);
}

.register-btn{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: rgb(245, 130, 30);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.register-btn:hover{
    background-color: rgb(193, 103, 24);
}

.login-section p{
    text-align: center;
    display: block;
    font-size: 14px;
}

.login-section a{
    text-decoration: none;
    color: rgb(245, 130, 30);
    font-size: 14px;
}
